.header__logo img {
    max-width: 125px;
}

.no-padding {
    padding: 0;
}

.navigation > li.categories {
    padding: 14px 20px 14px 0.65rem;
    display: block;
    position: relative;
    color: #4c4c4c;
    font-weight: 600;
    text-transform: uppercase;
}

.navigation > li.categories:not(:first-child) {
    margin-top: 1rem;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

#app-content {
    min-height: calc(100vh - 350px);
}

.dataTables_wrapper {
    margin-top: 0px;
}

.dataTables_processing {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin: auto;
    text-align: center;
}

.table-actions button, .table-actions a {
    color: #747a80;
}

.table-actions button:focus, .table-actions a:focus {
    box-shadow: none;
}

.listview__img {
    width: 3rem;
    margin: auto 1.2rem auto 0;
}

.modal-header {
    align-items: center;
    justify-content: center;
}

.modal .btn-link:focus,
.modal .btn-link:hover {
    background-color: #f6f6f6;
}

.modal .btn-link {
    color: #333;
    font-weight: 500;
    border-radius: 2px;
    text-transform: uppercase;
}

.alert--notify__close {
    right: 1.5rem !important;
    top: 1.1rem !important;
}

table .form-group {
    display: flex;
    justify-content: center;
}

.card-header {
    padding: 2.1rem 2.2rem;
    padding-bottom: 1.3rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

.jqvmap-zoomin, .jqvmap-zoomout {
    height: initial;
    width: initial;
}

.colorpicker {
    z-index: 1;
}

#analytics-content .content__title {
    margin-bottom: 1rem;
    padding: 1.5rem 1rem 0;
    position: relative;
}

#analytics-content .card-footer {
    display: flex;
    justify-content: space-between;
}

#analytics-content .card-footer button {
    text-transform: uppercase;
}

#analytics-content .nav-tabs .nav-link:before {
    top: 0;
    bottom: initial;
    background-color: #2196F3;
    height: 4px;
}

#analytics-content .nav-tabs:not([class*="nav-tabs--"]) .nav-link.active {
    color: #000;
    font-weight: bold;
}

#analytics-content .overview-percentage.up {
    color: green;
}

#analytics-content .overview-percentage.down {
    color: red;
}

#analytics-content .card-body {
    min-height: 450px;
    height: 450px;
    overflow: auto;
}

#analytics-content .device-icon {
    font-size: 2rem;
    margin-right: 2rem;
}

#analytics-content #realtime-report {
    color: black !important;
}

#analytics-content #realtime-report .table th,
#analytics-content #realtime-report .table td {
    padding: 1rem 0;
}

#analytics-content #realtime-report .card-footer {
    border-top: 1px solid #fff;
}

#push-notification-content #device-platforms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#push-notification-content .emoji-wysiwyg-editor {
    border-top: none;
    border-left: none;
    border-right: none;
}

#push-notification-content .emoji-picker-icon.parent-has-scroll {
    right: 20px;
}

#push-notification-content .emoji-picker-icon {
    top: 30px;
}

#push-notification-content .switch-phone-button {
    cursor: pointer;
}

#push-notification-content .screen-clock {
    font-weight: 300;
    font-size: 70px;
    color: #fff;
    margin: 0px;
}

#push-notification-content .screen-time {
    color: #fff;
    font-size: 18px;
}

#push-notification-content #mobile-phone {
    max-width: 300px;
    margin: auto;
}

#push-notification-content #mobile-phone .screen {
    padding-top: 50px;
}

#push-notification-content .mobile-type {
    display: inline-block;
}

#push-notification-content .mobile-type-label {
    display: block;
    margin-top: 10px;
}

#push-notification-content .mobile-type-label.selected {
    color: #2196F3;
}

#push-notification-content .card-ios-notification {
    width: 90%;
    margin: auto;
    border-radius: 5px;
}

#push-notification-content .card-ios-notification .card-header {
    padding: 0.1px 10px;
    text-align: left;
    border-radius: 5px;
    font-size: 11px;
    background-color: #f7f7f7;
}

#push-notification-content .card-ios-notification .card-header p {
    font-size: 11px;
    font-weight: 100;
}

#push-notification-content .card-ios-notification .card-body {
    padding: 10px 5px !important;
    text-align: left;
    font-size: 11px;
    background-color: transparent;
}

#servers-content .card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dashboard-content .card-body {
    min-height: 420px;
    height: 420px;
    overflow: auto;
}

.form-group.required > label:after {
    content: "*";
    color: red;
    margin-left: 3px;
}

.accordion__title:hover {
    background-color: #f5f5f5;
}

.accordion__title {
    background-color: #f9f9f9;
}

.select2-dropdown {
    z-index: 1050;
}

.tree-column-action {
    top: 10px;
    right: 0;
    margin-right: 15px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 180px;
}

#pattern-table td {
    padding: 0;
    position: relative;
    color: #444444;
}

#pattern-table td .colors {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100%;
}

#pattern-table td .colors span {
    flex: 1;
}

#pattern-table td .label {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: fit-content;
    width: fit-content;
    pointer-events: none;
}

.fa {
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
}

.fa-plus:before {
    content: '\f278';
}

.keditor-content-area {
    padding: 30px 50px 30px !important;
}

/**
* Nestable
*/
.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    /* max-width: 600px; */
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 30px;
}

.dd-collapsed .dd-list {
    display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.dd-handle {
    padding: 5px 0px;
    position: absolute;
    width: 90%;
    height: 54px;
    background: none;
    z-index: 1;
}

.dd-handle:hover {
    /* color: #2ea8e5;
    background: #fff; */
    cursor: move;
}

.dd-item > button {
    display: none;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.dd-item > button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
    content: '-';
}

.dd-placeholder,
.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
    linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

.dd-hover > .dd-handle {
    background: #2ea8e5 !important;
}

.dd-dragel > .dd3-item > .dd3-content {
    margin: 0;
}

.dd3-item > button {
    margin-left: 30px;
    display: none;
}

.dd3-handle {
    position: absolute;
    width: 80%;
    height: 100%;
    background: red;
    z-index: 1;
}

.dd-item .m-portlet__head-tools {
    z-index: 2;
    position: absolute;
    right: 29px;
    top: 11px;
}

.dd-item {
    margin: 10px 0;
}

.dd-item .toolbar {
    height: 54px;
}

.dd-item .toolbar--inner {
    margin-bottom: 0rem;
}

.dd-item .accordion__title {
    padding: 0rem;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
    padding-right: .5px;
    padding-left: .5px
}

.gallery:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.gallery:hover > img {
    opacity: 0.3;
    /* -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); */
}

.gallery:hover > .media-action {
    display: flex;
}

.media-action {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: calc(50% - 16.5px);
    left: calc(50% - 33px);
}

.modal-full {
    min-width: 90%;
}

.modal-full .modal-content {
    min-height: 95vh;
}

.lg-backdrop {
    z-index: 1051;
}

.lg-outer {
    z-index: 1052;
}

.media-library .tab-content {
    padding-bottom: 0;
}

.spinner-border-sm {
    margin-bottom: 2px;
    border-width: 0.15em;
}

#notification-list .avatar-char {
    background-color: #32c787;
}

.btn-rounded {
    border-radius: 25px;
}

.table.dataTable th, .table.dataTable td {
    vertical-align: middle;
}

.table-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-actions button, .table-actions a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5px;
}

.table-actions a:hover {
    color: #FFF !important;
}

.checkbox__label:before, .radio__label:before {
    border: 2px solid #6e6e6e;
}

.widget-visitors__os {
    height: 1rem;
    vertical-align: top;
    position: relative;
    margin-right: 0.25rem;
    left: -0.1rem;
    border-radius: 1px;
}

.yoast-char {
    width: 1.2rem;
    height: 1.2rem;
    margin-top: 2px;
}

.yoast-char.good {
    background-color: #32c787
}

.yoast-char.ok {
    background-color: #FF9800
}

.yoast-char.bad {
    background-color: #ff6b68
}

.flex-1 {
    flex: 1;
}

.featured-image-wrapper {
    border: 1px solid #eee;
    border-bottom: none;
    min-height: 100px;
    height: fit-content;
}

.laraberg__editor .edit-post-header,
.block-editor-block-list__block .block-editor-block-contextual-toolbar,
.edit-post-sidebar {
    z-index: 18 !important;
}

.table-responsive {
    overflow-y: hidden;
}

.gallery .media-action a {
    min-width: 28px;
}

.sidebar {
    z-index: 101;
}

.header {
    z-index: 102;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 11px;
}

.btn--material {
    font-size: 0.875rem;
    letter-spacing: 0.02857em;
    line-height: 1.75;
    text-transform: uppercase;
    font-weight: 500;
    /* box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
        0px 2px 2px 0px rgba(0,0,0,0.14),
        0px 1px 5px 0px rgba(0,0,0,0.12); */
    padding: 6px 16px;
    min-width: 64px;
    border-radius: 4px;
}

.btn-group .btn--material:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group .btn-group.dropdown:last-child .btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.listview__img {
    height: 3rem;
    border-radius: 50%;
    vertical-align: top;
    margin: -.1rem 1.2rem 0 0;
}

[data-toggle=buttons]:not(.btn-group--colors).subscriptions-plan .btn.gold.active {
    background-color: #ffc721;
    color: #ffffff;
}

[data-toggle=buttons]:not(.btn-group--colors).subscriptions-plan .btn.platinum.active {
    background-color: #9E9E9E;
    color: #ffffff;
}

.subscriptions-plan.btn-group-toggle label {
    margin-bottom: 0;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscriptions-plan.btn-group-toggle .btn input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.form-group.permission-item {
    display: flex;
}

.form-group.permission-item label {
    margin-left: 8px;
}

.lg-toolbar, .lg-prev, .lg-next {
    opacity: 1 !important;
}

.content__title h1 {
    color: #676767;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 100%;
    margin: 0;
    text-transform: uppercase;
}

.flatpickr-calendar {
    width: fit-content;
}

.modal-close {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    padding: 0.5rem !important;
}
