// Roboto Light
@font-face {
    font-family: Roboto;
    src: url('../../fonts/roboto/Roboto-Light-webfont.eot');
    src: url('../../fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
        url('../../fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
        url('../../fonts/roboto/Roboto-Light-webfont.svg#icon') format('svg');
    font-weight: 300;
    font-style: normal;
}


// Roboto Regular
@font-face {
    font-family: Roboto;
    src: url('../../fonts/roboto/Roboto-Regular-webfont.eot');
    src: url('../../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
        url('../../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
        url('../../fonts/roboto/Roboto-Regular-webfont.svg#icon') format('svg');
    font-weight: 400;
    font-style: normal;
}


// Roboto Medium
@font-face {
    font-family: Roboto;
    src: url('../../fonts/roboto/Roboto-Medium-webfont.eot');
    src: url('../../fonts/roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/roboto/Roboto-Medium-webfont.woff') format('woff'),
        url('../../fonts/roboto/Roboto-Medium-webfont.ttf') format('truetype'),
        url('../../fonts/roboto/Roboto-Medium-webfont.svg#icon') format('svg');
    font-weight: 500;
    font-style: normal;
}


// Roboto Bold
@font-face {
    font-family: Roboto;
    src: url('../../fonts/roboto/Roboto-Bold-webfont.eot');
    src: url('../../fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/roboto/Roboto-Bold-webfont.woff') format('woff'),
        url('../../fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'),
        url('../../fonts/roboto/Roboto-Bold-webfont.svg#icon') format('svg');
    font-weight: 700;
    font-style: normal;
}

/* #### Generated By: http://www.cufonfonts.com #### */
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('../../fonts/poppins/Poppins-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Italic'), url('../../fonts/poppins/Poppins-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Poppins Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Thin'), url('../../fonts/poppins/Poppins-Thin.woff') format('woff');
}


@font-face {
    font-family: 'Poppins Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Thin Italic'), url('../../fonts/poppins/Poppins-ThinItalic.woff') format('woff');
}


@font-face {
    font-family: 'Poppins ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraLight'), url('../../fonts/poppins/Poppins-ExtraLight.woff') format('woff');
}


@font-face {
    font-family: 'Poppins ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraLight Italic'), url('../../fonts/poppins/Poppins-ExtraLightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Poppins Light';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Light'), url('../../fonts/poppins/Poppins-Light.woff') format('woff');
}


@font-face {
    font-family: 'Poppins Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Light Italic'), url('../../fonts/poppins/Poppins-LightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Medium'), url('../../fonts/poppins/Poppins-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Poppins Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Medium Italic'), url('../../fonts/poppins/Poppins-MediumItalic.woff') format('woff');
}


@font-face {
    font-family: 'Poppins SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins SemiBold'), url('../../fonts/poppins/Poppins-SemiBold.woff') format('woff');
}


@font-face {
    font-family: 'Poppins SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins SemiBold Italic'), url('../../fonts/poppins/Poppins-SemiBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Bold'), url('../../fonts/poppins/Poppins-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Poppins Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Bold Italic'), url('../../fonts/poppins/Poppins-BoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Poppins ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraBold'), url('../../fonts/poppins/Poppins-ExtraBold.woff') format('woff');
}


@font-face {
    font-family: 'Poppins ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins ExtraBold Italic'), url('../../fonts/poppins/Poppins-ExtraBoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Poppins Black';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Black'), url('../../fonts/poppins/Poppins-Black.woff') format('woff');
}


@font-face {
    font-family: 'Poppins Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Black Italic'), url('../../fonts/poppins/Poppins-BlackItalic.woff') format('woff');
}
